@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    background: white;
    padding:0;
    height:90%;
    font-family: 'Lato';
    font-weight: 100;
    font-size: 20px;
    line-height: 1.45;
    color: black;
}

#profile {
    border-radius: 50%;
    height: 160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

#name {
    text-align: center;
    font: 'Lato';
    font-weight: 1000;
    margin-top: 10px;
}

.selectors {
    display: flex;
    justify-content: center;
}

.button {
    background-color: rgb(241, 241, 241);
    height: 80px;
    width: 100px;
    text-align: center;
    margin: 5px;
    border-radius: 10%;
    transition: 0.25s;
}

.button p {
    height: 50%;
    color: rgb(61, 3, 61);
    transition: 0.15s;
}

.typewriter p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    font-weight: 300;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid grey; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 2.5s steps(30, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 35% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: grey; }
  }

#description {
    /* animation-name: appear;
    animation-duration: 10s;
    animation-delay: 4s;
    background-color: green; */
    opacity: 0%;
    transition: 1s;
}

#description p {
    font-size: 16px;
    font: 'Roboto';
    font-weight: 200;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}